
        <img src="${speaker.picture}" alt="${speaker.name}">
        <h2>${speaker.name}</h2>
        <dl>
            <dt>Sex:<dt>
            <dd>${speaker.gender}</dd>
            <dt>Age:</dt>
            <dd>${speaker.age}</dd>
            <dt>Eye Colour:<dt>
            <dd>${speaker.eyeColor}</dd>
            <dt>Company:<dt>
            <dd>${speaker.company}</dd>
            <dt>email:<dt>
            <dd>${speaker.email}</dd>
            <dt>Phone:<dt>
            <dd>${speaker.phone}</dd>
            <dt>Address:<dt>
            <dd>${speaker.address}</dd>
        </dl>
        <p>${speaker.about}</p>
        <a href="https://www.google.ca/maps/@${speaker.latitude},${speaker.longitude},15z?hl=en" class="btn btn-primary" target="_blank">Maps</a>